{% extends 'base.html' %}

{% block content %}
<h1>Восстановление пароля</h1>
<p>Введите адрес электронной почты для отправки инструкций по восстановлению пароля</p>
<form method="POST">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <p><label class="form-label" for="{{form.id_for_label}}"> {{ form.email.label }}:</label>
        <p>{{ form.email }}<p>
</p>
    <div class="form-error">{{ form.email.errors }}</div>
    <button type="submit">Сбросить пароль</button>
</form>
{% endblock %}