{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="col-md-12 text-center">
        <h2>{{ header }}</h2>
    </div>
    <div class="row">
        {% for p in products %}
        <div class="col-md-4">
            <a href="{{ p.get_absolute_url }}">
                <div class="product-card p-3">
                    <img src="{{ p.photo.url }}" alt="{{ p.name }}">
                    <p class="font-weight-bold ">{{ p.name }}</p>
                    <p>{{ p.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
        <b>{{ message }}</b>
    </div>
</div>
{% endblock %}

