{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 main-content">
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-4">
            <div class="p-3">
                <p class="font-weight-bold">{{ product.name }}</p>
                <p>{{ product.description }}</p>
                <p>
                    {% if is_size %}
                        <b>Размеры:</b>
                         {% for item in product.size_and_number_set.all %}
                            {% if item.number > 0 %}
                                {{ item.size }}
                            {% endif %}
                         {% endfor %}
                    {% endif %}
                </p>
                <button class="btn btn-primary">Добавить в корзину</button>
                <button class="btn btn-danger">&#10084;Добавить в избранное</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}




