{% extends 'base.html' %}

{% block content %}

<div class="container standard-form">
<h2>Заполните контактные данные</h2>
<form method="POST">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <hr>
    <p><span class="font-weight-bold">Количество товаров в заказе:</span> {{ total_quantity }}</p>
    <p><span class="font-weight-bold">Итого:</span> {{ total_price }}</p>
    <p><button type="submit">Заказать</button></p>
</form>
</div>

{% endblock %}